@import "animation/background";
/*@import "animation/text";*/
/*@import "animation/h1";*/

.big-text {
  font-size: 24px;
}

.my-panel {
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.72);
  margin-top: 20%;
  border-radius: 32px;
  border: 2px solid #FFF;
  box-shadow: 10px 10px 50px #000;
}