h1 {
  -webkit-animation: color-changeh1 5s infinite;
  -moz-animation: color-changeh1 5s infinite;
  -o-animation: color-changeh1 5s infinite;
  -ms-animation: color-changeh1 5s infinite;
  animation: color-changeh1 5s infinite; }

@-webkit-keyframes color-changeh1 {
  0% {
    color: #ffff00; }
  25% {
    color: #ff0100; }
  50% {
    color: #ff9a00; }
  75% {
    color: #00ff0b; }
  100% {
    color: #c300ff; } }
@-moz-keyframes color-changeh1 {
  0% {
    color: #ffff00; }
  25% {
    color: #ff0100; }
  50% {
    color: #ff9a00; }
  75% {
    color: #00ff0b; }
  100% {
    color: #c300ff; } }
@-ms-keyframes color-changeh1 {
  0% {
    color: #ffff00; }
  25% {
    color: #ff0100; }
  50% {
    color: #ff9a00; }
  75% {
    color: #00ff0b; }
  100% {
    color: #c300ff; } }
@-o-keyframes color-changeh1 {
  0% {
    color: #ffff00; }
  25% {
    color: #ff0100; }
  50% {
    color: #ff9a00; }
  75% {
    color: #00ff0b; }
  100% {
    color: #c300ff; } }
@keyframes color-changeh1 {
  0% {
    color: #ffff00; }
  25% {
    color: #ff0100; }
  50% {
    color: #ff9a00; }
  75% {
    color: #00ff0b; }
  100% {
    color: #c300ff; } }

/*# sourceMappingURL=h1.css.map */
