h1 {
  -webkit-animation: color-changeh1 5s infinite;
  -moz-animation: color-changeh1 5s infinite;
  -o-animation: color-changeh1 5s infinite;
  -ms-animation: color-changeh1 5s infinite;
  animation: color-changeh1 5s infinite;
}

$rn1_cl1: #ffff00;
$rn1_cl2: #ff0100;
$rn1_cl3: #ff9a00;
$rn1_cl4: #00ff0b;
$rn1_cl5: #c300ff;

@-webkit-keyframes color-changeh1 {
  0% {
    color: $rn1_cl1;
  }
  25% {
    color: $rn1_cl2;
  }
  50% {
    color: $rn1_cl3;
  }
  75% {
    color: $rn1_cl4;
  }
  100% {
    color: $rn1_cl5;
  }
}

@-moz-keyframes color-changeh1 {
  0% {
    color: $rn1_cl1;
  }
  25% {
    color: $rn1_cl2;
  }
  50% {
    color: $rn1_cl3;
  }
  75% {
    color: $rn1_cl4;
  }
  100% {
    color: $rn1_cl5;
  }
}

@-ms-keyframes color-changeh1 {
  0% {
    color: $rn1_cl1;
  }
  25% {
    color: $rn1_cl2;
  }
  50% {
    color: $rn1_cl3;
  }
  75% {
    color: $rn1_cl4;
  }
  100% {
    color: $rn1_cl5;
  }
}


@-o-keyframes color-changeh1 {
  0% {
    color: $rn1_cl1;
  }
  25% {
    color: $rn1_cl2;
  }
  50% {
    color: $rn1_cl3;
  }
  75% {
    color: $rn1_cl4;
  }
  100% {
    color: $rn1_cl5;
  }
}

@keyframes color-changeh1 {
  0% {
    color: $rn1_cl1;
  }
  25% {
    color: $rn1_cl2;
  }
  50% {
    color: $rn1_cl3;
  }
  75% {
    color: $rn1_cl4;
  }
  100% {
    color: $rn1_cl5;
  }
}