p {
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite; }

@-webkit-keyframes color-change {
  0% {
    color: #ff00e5; }
  50% {
    color: #fff300; }
  100% {
    color: #000000; } }
@-moz-keyframes color-change {
  0% {
    color: #ff00e5; }
  50% {
    color: #fff300; }
  100% {
    color: #000000; } }
@-ms-keyframes color-change {
  0% {
    color: #ff00e5; }
  50% {
    color: #fff300; }
  100% {
    color: #000000; } }
@-o-keyframes color-change {
  0% {
    color: #ff00e5; }
  50% {
    color: #fff300; }
  100% {
    color: #000000; } }
@keyframes color-change {
  0% {
    color: #ff00e5; }
  50% {
    color: #fff300; }
  100% {
    color: #000000; } }

/*# sourceMappingURL=text.css.map */
